<h1 class="text-center mt-4">Edit Category</h1>
<%= render 'form' %>
</div>
<div class="bt-3">
  <%= link_to '[ Cancel and return to Category listing ]', category_path(@category), class: "text-info justify-content-center" %>
</div>